@import "./style.scss";
.heading {
  font-size: 20px;
  color: #424040;
  font-weight: 600;
}

.input-text-box {
  @include border-radius(0!important);
  font-size: 15px !important;
  height: 45px !important;
  letter-spacing: 1px !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: $yellow !important;
}

.btn-sign-in {
  background: #c43421 !important;
  @include border-radius(0!important);
  color: #fff !important;
  padding: 10px 50px !important;
  border-radius: 5px !important;
}

.btn-sign-up {
  background: #4287f5 !important;
  @include border-radius(0!important);
  color: #fff !important;
  padding: 10px 50px !important;
  border-radius: 5px !important;
}

.password {
  display: flex;
  gap: 10px;
}
.confirmPassword {
  display: flex;
  gap: 10px;
}
.password-toggle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.google-button {
  border-radius: 10px;
  padding: 10px;
  background-color: #c43421;
  color: white;
  font-size: 20px;
  > .fa-brands {
    font-size: 30px;
  }
}
.BrandsAuth{
  gap: 10px;
  display: grid;
}
.facebook-button {
  border-radius: 10px;
  width: 20rem;
  padding: 10px;
  background-color: rgb(57, 57, 204);
  color: white;
  font-size: 20px;
  > .fa-brands {
    font-size: 30px;
  }
}
.github-button{
  border-radius: 10px;
  width: 20rem;
  padding: 10px;
  background-color: rgb(9, 9, 22);
  color: white;
  font-size: 20px;
  > .fa-brands {
    font-size: 30px;
  }
}
